
.main_registration {
    display: flex;
    margin-top:200px;
    align-items: center;
    justify-content: center;
}

.background {
    background-color: rgb(93, 72, 255);
    border-radius: 20%;
    padding: 60px;
}

.txt_registration {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    font-size: 30px;
    margin-left: 30px;
}

button {
    font-size: 30px;
    margin-left: 65px;
}