
.logo {
    display: flex;
    margin-top:200px;
    align-items: center;
    justify-content: center;
    font-size: 190px;
    color: white;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn_try_it_now {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
    width: 350px;
    
    background-color: rgb(4, 121, 255);
    opacity: 0.6;
    color: white;
    cursor: pointer;

    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
}

.btn_try_it_now span:after {
    content: '\00bb';
    position: relative;
    top: 0;
    right: -20px;
    transition: 0.5s;
    opacity: 0;
}

.btn_try_it_now:hover {
    opacity: 1.0;
}

.btn_try_it_now:hover span{
    padding-right: 20px;
}

.btn_try_it_now:hover span:after {
    right: 0;
    opacity: 1;
}
