
<table class="globalTable">
  
<tr>
    <td>
      <div class="GameTxt" > 
        Ogame2.0
      </div>
    </td>
    <td>
      <div>
        Никнейм: {{accountData.Nickname}}
      </div>
      <div>
        <button (click)="OnSignOutBtnClick()">Выйти</button>
      </div>
    </td>

</tr>

<tr>
  <button (click)="OnBackButtonClick()">
    Назад
  </button>
</tr>

<tr>
  <td>
  <table class="CoreTable" align="left"> 
    <tr>
      <td></td>
      <td>
        <h3> Золото: {{coreInfo.Money}} </h3>
        <button (click)="OnCoreBtnClick()">Core</button>

        <ng-template [ngIf]="coreInfo.Casern == 1">
          <button (click)="OnCasernBtnClick()">Казарма</button> 
        </ng-template>
        <ng-template [ngIf]="coreInfo.DefenceTower == 1">
          <button (click)="OnGoldMiningBtnClick()">Шахта для добычи золота</button> 
        </ng-template>
        <ng-template [ngIf]="coreInfo.GoldMining == 1">
          <button (click)="OnDefenceTowerBtnClick()">Защитная башня</button> 
        </ng-template>

        <ng-template [ngIf]="coreInfo.Casern == 0">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">Казармаы</button> 
        </ng-template>
        <ng-template [ngIf]="coreInfo.DefenceTower == 0">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">Шахта для добычи золота</button> 
        </ng-template>
        <ng-template [ngIf]="coreInfo.GoldMining == 0">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">Защитная башня</button> 
        </ng-template>

      </td>
    </tr>      
    
    <tr>
      <td></td>
      <ng-template [ngIf]="IsCoreInfoActivated">
          <td>
            <div>Hp: {{coreInfo.BaseHp}}</div> 
            <div>Attack: {{coreInfo.BaseAttack}}</div> 
            <div>Defence: {{coreInfo.BaseDefence}}</div>
            <div>Workers: {{coreInfo.BaseWorkersCount}}/{{coreInfo.BaseCapacity}}</div>
            <div>Type: {{coreInfo.BaseType}}</div>
          </td>
          <td>
              <div>Income: {{coreInfo.BaseIncome}}</div> 
              <div>Outcome: {{coreInfo.BaseOutcome}}</div>
          </td>
          <td>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBaseCapacityUpgrade()">Улучшить вместительность</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBaseAttackUpgrade()">Улучшить атаку</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBaseDefenceUpgrade()">Улучшить защиту</button></tr>
          </td>
          <td>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildCasernBtnClick()">Построить казарму</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildGoldMiningBtnClick()">Построить шахту</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildDefenceTowerBtnClick()">Построить защитную башню</button></tr>
          </td>
          <td>
            <button title="Стоимость: 1000 gold" (click)="OnProduceWorkerBtnClick()">Создать рабочего</button>
          </td>
        </ng-template>
        
        <ng-template [ngIf]="IsCasernInfoActivated">
          <td>  
            <div>Hp: {{coreInfo.CasernHp}}</div> 
            <div>Attack: {{coreInfo.CasernAttack}}</div> 
            <div>Defence: {{coreInfo.CasernDefence}}</div>
            <div>Warriors: {{coreInfo.CasernWarriorsCount}}/{{coreInfo.CasernCapacity}}</div>
            <div>AttackAircraft: {{coreInfo.CasernAttackAircraftsCount}}/{{coreInfo.CasernCapacity}}</div>
            <div>Type: {{coreInfo.CasernType}}</div>
          </td>
          <td>
              <div>Income: {{coreInfo.CasernIncome}}</div> 
              <div>Outcome: {{coreInfo.CasernOutcome}}</div>
          </td>
          <td>
            <tr><button title="Стоимость: 1000 gold" (click)="OnCasernCapacityUpgrade()">Улучшить Capacity</button></tr>
          </td>
          <td>
            <button title="Стоимость: 1000 gold" (click)="OnProduceWarriorBtnClick()">Создать война</button> <br/>
            <button title="Стоимость: 1000 gold" (click)="OnProduceAttackAircraftBtnClick()">Создать корабль для нападения</button>
          </td>
        </ng-template>
        
        <ng-template [ngIf]="IsDefenceTowerInfoActivated">
            <td>  
              <div>Hp: {{coreInfo.DefenceTowerHp}}</div> 
              <div>Attack: {{coreInfo.DefenceTowerAttack}}</div> 
              <div>Defence: {{coreInfo.DefenceTowerDefence}}</div>
              <div>Type: {{coreInfo.DefenceTowerType}}</div>
            </td>
            <td>
                <div>Income: {{coreInfo.GoldMiningIncome}}</div> 
                <div>Outcome: {{coreInfo.GoldMiningOutcome}}</div>
            </td>
            <td>
              <tr><button title="Стоимость: 1000 gold" (click)="OnDefenceTowerAttackUpgrade()">Улучшить атаку</button></tr>
              <tr><button title="Стоимость: 1000 gold" (click)="OnDefenceTowerDefenceUpgrade()">Улучшить защиту</button></tr>
            </td>
          </ng-template>
        
        <ng-template [ngIf]="IsGoldMiningInfoActivated">
            <td>  
              <div>Hp: {{coreInfo.GoldMiningHp}}</div> 
              <div>Workers: {{coreInfo.GoldMiningNumberOfWorkers}}/{{coreInfo.GoldMiningCapacity}}</div>
              <div>Attack: {{coreInfo.GoldMiningAttack}}</div> 
              <div>Defence: {{coreInfo.GoldMiningDefence}}</div>
              <div>Type: {{coreInfo.GoldMiningType}}</div>
            </td>
            <td>
              <tr><button title="Стоимость: 1000 gold" (click)="OnGoldMiningCapacityUpgrade()">Улучшить вместительность</button></tr>
            </td>
            <td>
                <div>Income: {{coreInfo.GoldMiningIncome}}</div> 
                <div>Outcome: {{coreInfo.GoldMiningOutcome}}</div>
            </td>
            <td>
              <button title="Добавит нового рабочего на производственную линию"
                      (click)="OnAddWorkerToMineBtnClick()">Добавить работника</button> <br/>
            </td>
        </ng-template>
    </tr>
    
  </table>
  </td>
  
  <td>
    <table class="CommunicationTable">
      <tr align="center" class="cmntr">
          <td>
              <div class="TextInCenter" [ngSwitch]="numberOfSelectedList">
                  <ng-template [ngSwitchCase]="0">Все</ng-template>
                  <ng-template [ngSwitchCase]="1">Друзья</ng-template>
                  <ng-template [ngSwitchCase]="2">Подписчики</ng-template>
                  <ng-template [ngSwitchCase]="3">Подписки</ng-template>
              </div>
          </td>
          <td> <div>{{numberOfPage}}</div> </td>
      </tr>
      <tr>
        <td>
          <div>
            <button (click)="OnLessBtnClick()">
              &lt;
            </button>
            <button (click)="OnGreaterBtnClick()">
              &gt;
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <tr>
            <button class="cmnBtn" (click)="OnAllBtnClick()">Все</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFriendsBtnClick()">Друзья</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFollowersBtnClick()">Подписчики</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFollowingsBtnClick()">Подписки</button>
          </tr>
        </td>
        
        <td>
          <div [ngSwitch]="numberOfSelectedList">
              <ng-template ngSwitchCase="0">
                  <div *ngFor=
                    "let user of selectedAll">
                    <button class="btnList" 
                    (click)="OnUserBtnClick(user)">
                      {{user.Nickname}}
                    </button>
                  </div>
              </ng-template>

              <ng-template ngSwitchCase="1"> 
                  <div *ngFor=
                  "let user of selectedFriends">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

              <ng-template ngSwitchCase="2">
                  <div *ngFor=
                  "let user of selectedFollowers">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

              <ng-template ngSwitchCase="3">
                  <div *ngFor=
                  "let user of selectedFollowings">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

          </div>

        </td>
      </tr>

    </table>
  </td>
  
</tr>

</table>

<div class="UsersActionWindowBox">
  <ng-template [ngIf]="isUserActionsWindowVisible">
    <div class="UsersActionWindow" 
      [ngSwitch]="numberOfSelectedList">
      <div class="RoundedExitBtnBox">
        <button class="RoundedExitBtn"
                (click)="OnExitBtnClick()">&#215;</button>
      </div>
      
      <br/> 
      <br/>

      <div class="UserInfo">
        Пользовательская информация
        <br/> 
        Никнейм: {{selectedUser.Nickname}}
        <br/> 
        <br/> 
        Информация о Core 
        <br/> 
        Кол-во войнов: {{selectedUserCoreInfo.CasernWarriorsCount}}
        Кол-во кораблей: {{selectedUserCoreInfo.CasernAttackAircraftsCount}}

      </div>
      
      
      <div class="btnUserAction">
        <button (click)="OnDuelBattleBtnClick()">PVP сражение</button>
        <button (click)="OnCoreAttackBtnClick()">Напасть на Core</button>
        <button (click)="OnStartConversationClick()">Начать беседу</button>
        
         <ng-template ngSwitchCase="0">
             <button *ngIf="isSelectedUserFriend"
              (click)="RemoveUserFromFriends()">
              Удалить из друзей
            </button>
            <button *ngIf="!isSelectedUserFriend"
              (click)="AddUserToFriends()">
              Добавить в друзья
            </button>
        </ng-template>
  
         <ng-template ngSwitchCase="1"> 
            <button 
            (click)="RemoveUserFromFriends()">
              Удалить из друзей
            </button>
         </ng-template>
  
         <ng-template ngSwitchCase="3">
            <button 
            (click)="RemoveUserFromFriends()">
            Отменить подписку
            </button>
         </ng-template>
  
         <ng-template ngSwitchDefault>
          <button (click)="AddUserToFriends()">
            Добавить в друзья
          </button>
         </ng-template>
      </div>
      
    </div>
  </ng-template>
</div>


<table class="LowTable">
  <td>
  <div class="Logger" onload="this.scrollTop = 9999;"> 
      <div class="LoggerContent"
      *ngFor="let log of loggedData?.Data2">
      <div [ngSwitch]="log.Type">
        <ng-template ngSwitchCase="1"><div class="LoggerWarContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        <ng-template ngSwitchCase="2"><div class="LoggerWarContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        <ng-template ngSwitchCase="3"><div class="LoggerWarContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        
        <ng-template ngSwitchCase="4"> <div class="LoggerBuildContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        <ng-template ngSwitchCase="5"> <div class="LoggerBuildContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        
        <ng-template ngSwitchCase="6"><div class="LoggerCommunicationContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
        <ng-template ngSwitchDefault><div class="LoggerDefaultContent">{{log.Message}} [{{log.Time}}]</div></ng-template>
      </div>
    </div>
  </div>
  </td>
  
  <td>
    <div class="chat">
    
      <button class="chat-close-button">x</button>

      <div class="chat-table">
        <div class="chat-table-row chat-first-row">
            <div class="chat-table-col">
              <div *ngFor="let info of dialogsButtonInfo">
                <button (click)="OnDialogUserClick(info)">{{info.Nickname}}</button>
              </div>
            </div>

            <div class="chat-table-col chat-content"> 
              
              <div *ngFor="let msg of dialog">
                <div class="chat-table-row">
                
                  <div class="chat-user-nickname" *ngIf="msg.Nickname === accountData.Nickname">{{msg.Nickname}}</div>
                  <div class="chat-companion-nickname" *ngIf="msg.Nickname !== accountData.Nickname">{{msg.Nickname}}</div>
                  <div class="chat-table-col-msg"> {{msg.Content}} </div>
                  <div class="chat-table-col-time"> [{{msg.Time}}] </div>
                  
                </div>
                
              </div>
            </div>
            
        </div>
        
        <div class="chat-table-row">
            <div class="chat-table-col chat-empty">
              ~_~
            </div>
            <div class="chat-table-col">
              <textarea class="chat-text-area" cols='31'
                [(ngModel)]="textAreaContent" 
                placeholder="Введите текст"
                (keypress)="OnKeyPressed($event)"></textarea>
            </div>
        </div>

      </div>

    </div> <!--chat-->
  </td>

</table>


 <!-- <canvas id="map" width=1000 height=1000>
    Canvas not supported
 </canvas> -->