
<table class="globalTable">
  
<tr>
    <td>
      <div class="GameTxt" > 
        Ogame2.0
      </div>
    </td>
    <td>
    Nickname:{{accountData.Nickname}}
    </td>
</tr>

<tr>
    <button>ToCore</button>
    <button>ToMap</button>
</tr>

<tr>
  <td>
  <table class="CoreTable" align="left"> 
    <tr>
      <td></td>
      <td>
        <h3> Money: {{money}} gold Defence power: {{defencePower}} </h3>
        <button (click)="OnCoreBtnClick()">Core</button>

        <ng-template [ngIf]="IsCasernActive">
          <button (click)="OnCasernBtnClick()">Casern</button> 
        </ng-template>
        <ng-template [ngIf]="IsDefenceTowerActive">
          <button (click)="OnGoldMiningBtnClick()">GoldMining</button> 
        </ng-template>
        <ng-template [ngIf]="IsGoldMiningActive">
          <button (click)="OnDefenceTowerBtnClick()">DefenceTower</button> 
        </ng-template>

        <ng-template [ngIf]="!IsCasernActive">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">Casern</button> 
        </ng-template>
        <ng-template [ngIf]="!IsDefenceTowerActive">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">GoldMining</button> 
        </ng-template>
        <ng-template [ngIf]="!IsGoldMiningActive">
            <button class="DiactivatedButton" title="Необходимо купить в Core" disabled="true">DefenceTower</button> 
        </ng-template>

      </td>
    </tr>      
    
    <tr>
      <td></td>
      <td>
        <ng-template [ngIf]="IsCoreInfoActivated">
          <td>
            <div>Hp: {{coreInfo.CoreHp}}</div> 
            <div>Attack: {{coreInfo.CoreAttack}}</div> 
            <div>Defence: {{coreInfo.CoreDefence}}</div>
            <div>Workers: {{coreInfo.CoreWorkersCount}}/{{coreInfo.CoreCapacity}}</div>
            <div>Type: {{coreInfo.CoreType}}</div>
          </td>
          <td>
              <div>Income: {{coreInfo.CoreIncome}}</div> 
              <div>Outcome: {{coreInfo.CoreOutcome}}</div>
          </td>
          <td>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildCasernBtnClick()">Build Casern</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildGoldMiningBtnClick()">Build GoldMining</button></tr>
            <tr><button title="Стоимость: 1000 gold" (click)="OnBuildDefenceTowerBtnClick()">Build DefenceTower</button></tr>
          </td>
          <td>
            <button title="Стоимость: 1000 gold" (click)="OnProduceWorkerBtnClick()">Produce worker</button>
          </td>
        </ng-template>
        
        <ng-template [ngIf]="IsCasernInfoActivated">
          <td>  
            <div>Hp: {{casernInfo.CasernHp}}</div> 
            <div>Attack: {{casernInfo.CasernAttack}}</div> 
            <div>Defence: {{casernInfo.CasernDefence}}</div>
            <div>Warriors: {{casernInfo.CasernWarriorsCount}}</div>
            <div>AttackAircraft: {{casernInfo.CasernAttackAircraftsCount}}</div>
            <div>Type: {{casernInfo.CasernType}}</div>
          </td>
          <td>
              <div>Income: {{casernInfo.CasernIncome}}</div> 
              <div>Outcome: {{casernInfo.CasernOutcome}}</div>
          </td>
          <td>
            <button title="Стоимость: 1000 gold" (click)="OnProduceWarriorBtnClick()">Produce warrior</button> <br/>
            <button title="Стоимость: 1000 gold" (click)="OnProduceAttackAircraftBtnClick()">Produce attackAircraft</button>
          </td>
        </ng-template>
        
        <ng-template [ngIf]="IsDefenceTowerInfoActivated">
            <td>  
              <div>Hp: {{defenceTowerInfo.DefenceTowerHp}}</div> 
              <div>Attack: {{defenceTowerInfo.DefenceTowerAttack}}</div> 
              <div>Defence: {{defenceTowerInfo.DefenceTowerDefence}}</div>
              <div>Type: {{defenceTowerInfo.DefenceTowerType}}</div>
            </td>
            <td>
                <div>Income: {{goldMiningInfo.GoldMiningIncome}}</div> 
                <div>Outcome: {{goldMiningInfo.GoldMiningOutcome}}</div>
            </td>
          </ng-template>
        
          <ng-template [ngIf]="IsGoldMiningInfoActivated">
              <td>  
                  <div>Hp: {{goldMiningInfo.GoldMiningHp}}</div> 
                  <div>Attack: {{goldMiningInfo.GoldMiningAttack}}</div> 
                  <div>Defence: {{goldMiningInfo.GoldMiningDefence}}</div>
                  <div>Type: {{goldMiningInfo.GoldMiningType}}</div>
                </td>
                <td>
                    <div>Income: {{goldMiningInfo.GoldMiningIncome}}</div> 
                    <div>Outcome: {{goldMiningInfo.GoldMiningOutcome}}</div>
                </td>
              <td>
                <button title="Добавит нового рабочего на производственную линию"
                        (click)="OnAddWorkerToMineBtnClick()">Add worker</button> <br/>
              </td>
            </ng-template>
      </td>
    </tr>
    
  </table>
  </td>
  
  <td>
    <table class="CommunicationTable">
      <tr align="center">FriendsList</tr>
      <tr>
        <td>
          <button (click)="OnLessBtnClick()">
            &lt;
          </button>
          <button (click)="OnGreaterBtnClick()">
            &gt;
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <tr>
            <button class="cmnBtn" (click)="OnAllBtnClick()">All</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFriendsBtnClick()">Friends</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFollowersBtnClick()">Followers</button>
          </tr>
          <tr>
            <button class="cmnBtn" (click)="OnFollowingsBtnClick()">Followings</button>
          </tr>
        </td>
        
        <td >

          <div [ngSwitch]="numberOfSelectedList">
              <ng-template ngSwitchCase="0">
                  <div *ngFor=
                    "let user of selectedAll">
                    <button class="btnList" 
                    (click)="OnUserBtnClick(user)">
                      {{user.Nickname}}
                    </button>
                  </div>
              </ng-template>

              <ng-template ngSwitchCase="1"> 
                  <div *ngFor=
                  "let user of friendsUsers">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

              <ng-template ngSwitchCase="2">
                  <div *ngFor=
                  "let user of followersUsers">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

              <ng-template ngSwitchDefault>
                  <div *ngFor=
                  "let user of followingsUsers">
                  <button class="btnList" 
                  (click)="OnUserBtnClick(user)">
                    {{user.Nickname}}
                  </button>
                </div>
              </ng-template>

          </div>

        </td>
      </tr>

    </table>
  </td>
  
</tr>

</table>

<div class="UsersActionWindowBox">
  <ng-template [ngIf]="isUserActionsWindowVisible">
    
    <div class="UsersActionWindow" 
      [ngSwitch]="numberOfSelectedList">
      <div class="RoundedExitBtnBox">
        <button class="RoundedExitBtn"
                (click)="OnExitBtnClick()">&#215;</button>
      </div>
      
      <br/> 
      <br/>

      <div class="UserInfo">
        User info
        <br/> 
        Nickname: {{selectedUser.Nickname}}
        <br/> 
        <br/> 
        Core info 
        <br/> 
      </div>
      
      

      <br/> 
       <ng-template ngSwitchCase="0">
         <ng-template *ngIf="IsUserFriend(); else not">
           <button class="btnUserAction" 
           (click)="RemoveUserFromFriends()">
           Удалить из друзей
          </button>
        </ng-template>
        <ng-template #not>
            <button class="btnUserAction" 
            (click)="AddUserToFriends()">
            Добавить в друзья
           </button>
        </ng-template>
       </ng-template>

       <ng-template ngSwitchCase="1"> 
          <button class="btnUserAction" 
          (click)="RemoveUserFromFriends()">
            Удалить из друзей
          </button>
       </ng-template>

       <ng-template ngSwitchCase="3">
          <button class="btnUserAction" 
          (click)="RemoveUserFromFriends()">
          Отменить подписку
          </button>
       </ng-template>

       <ng-template ngSwitchDefault>
        <button class="btnUserAction">
          Default
        </button>
       </ng-template>
      
    </div>
  </ng-template>
</div>


<div class="Logger" onload="this.scrollTop = 9999;"> 
    <div class="LoggerContent"
      *ngFor="let log of loggedData?.Data"
      >
      <div [ngSwitch]="log.color">
          <ng-template ngSwitchCase="1"><div class="LoggerBuildContent">{{log.message}}</div></ng-template>
          <ng-template ngSwitchCase="2"> <div class="LoggerWarContent">{{log.message}}</div></ng-template>
          <ng-template ngSwitchCase="3"><div class="LoggerCommunicationContent">{{log.message}}</div></ng-template>
          <ng-template ngSwitchDefault><div class="LoggerDefaultContent">{{log.message}}</div></ng-template>
      </div>
    </div>
  </div>

<div class="CanvasDiv">
  <button>
    CLICK ON ME
  </button>

</div>

 <canvas id="map" width=600 height=600>
    Canvas not supported
 </canvas>