
p {
    color: red;
    font-size: 80px;
    text-align: center;
    margin-top: 2%;
}

.time {
    color: rgb(65, 65, 173);
    font-size: 10px;
    text-align: center;
}

.error {
    color:white;
    font-size: 10px;
    animation-name: errorAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes errorAnimation {
    from 
    { 
        color: white;
        font-size: 10px; 
    }
    to 
    { 
        transform: rotate(6deg);
        color: red;
        font-size: 15px; 
    }
}

