
<div class="main_login">
<div class="background">
        
        <form>
        <h1 class="txt_login">
        LOGIN FORM
        </h1>
        
        <div class="email">
        <input  name="email" type="text" 
                maxlength=30
                placeholder="Введите email *" 
                [(ngModel)]="PostData.Email"
                required
                />
        </div> 
        <br />
        
        <div class="password">

        <input name="passwordHash" type="password" 
                maxlength=30
                placeholder="Введите пароль *" 
                [(ngModel)]="PostData.PasswordHash"
                required/>
        </div>
             
        <br />
                
        <div class="link_registration">
                <a title="Нажми, чтобы создать аккаунт"
                href="../registration/registration.component.html"> 
                Еще не зарегистрированы? 
                </a>
        </div>
        
        <br /> <br />

        <div>
        <button 
                name="btn_login" 
                (click)="onClick()">
                Войти
        </button>
        </div>
                
        </form>
        
</div>
</div>