
<div class="main_login">
<div class="background">
        
        <form>
        <h1 class="txt_login">
        LOGIN FORM
        </h1>
        
        <div class="nickname">
        <input  name="nickname" type="text" 
                maxlength=30
                placeholder="Введите nickname *" 
                [(ngModel)]="LoginPostData.Nickname"
                required
                />
        </div> 
        <br />
        
        <div class="password">

        <input name="PasswordHash" type="password" 
                maxlength=30
                placeholder="Введите пароль *" 
                [(ngModel)]="LoginPostData.PasswordHash"
                required/>
        </div>
             
        <br />
                
        <div class="link_registration">
                <a 
                title="Нажми, чтобы создать аккаунт"
                routerLink="/registration">
                        Еще не зарегистрированы? 
                </a>
        </div>
        
        <br /> <br />

        <!-- <div class="btn-login"> -->
        <button (click)="onClick()">
                Войти
        </button>

        <!-- </div>
                 -->
        </form>
        
</div>
</div>