<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>-->
  <!--<connectionStrings>
    <add name="UserTableEntity" connectionString="metadata=res://*/src.Models.User.UserTable.csdl|res://*/src.Models.User.UserTable.ssdl|res://*/src.Models.User.UserTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserRelationTableEntity" connectionString="metadata=res://*/src.Models.UserRelationTable.csdl|res://*/src.Models.UserRelationTable.ssdl|res://*/src.Models.UserRelationTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserFriendsTableEntity" connectionString="metadata=res://*/src.Models.User.UserFriendsTable.csdl|res://*/src.Models.User.UserFriendsTable.ssdl|res://*/src.Models.User.UserFriendsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserFollowersTable" connectionString="metadata=res://*/src.Models.UserFollowersTable.csdl|res://*/src.Models.UserFollowersTable.ssdl|res://*/src.Models.UserFollowersTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserFollowersTableEntity" connectionString="metadata=res://*/src.Models.User.UserFollowersTable.csdl|res://*/src.Models.User.UserFollowersTable.ssdl|res://*/src.Models.User.UserFollowersTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserFollowingTableEntity" connectionString="metadata=res://*/src.Models.User.UserFollowingTable.csdl|res://*/src.Models.User.UserFollowingTable.ssdl|res://*/src.Models.User.UserFollowingTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameUnitsEntity" connectionString="metadata=res://*/src.Models.Game.GameUnitsTable.csdl|res://*/src.Models.Game.GameUnitsTable.ssdl|res://*/src.Models.Game.GameUnitsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameUnitsTypeEntity" connectionString="metadata=res://*/src.Models.Game.GameUnitsTypeTable.csdl|res://*/src.Models.Game.GameUnitsTypeTable.ssdl|res://*/src.Models.Game.GameUnitsTypeTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameBuildingsEntity" connectionString="metadata=res://*/src.Models.Game.GameBuildingsTable.csdl|res://*/src.Models.Game.GameBuildingsTable.ssdl|res://*/src.Models.Game.GameBuildingsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameBuildingsTypeEntity" connectionString="metadata=res://*/src.Models.Game.GameBuildingsTypeTable.csdl|res://*/src.Models.Game.GameBuildingsTypeTable.ssdl|res://*/src.Models.Game.GameBuildingsTypeTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameBuildingProductionEntity" connectionString="metadata=res://*/src.Models.Game.GameBuildingProductionTable.csdl|res://*/src.Models.Game.GameBuildingProductionTable.ssdl|res://*/src.Models.Game.GameBuildingProductionTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionCoresEntity" connectionString="metadata=res://*/src.Models.Session.SessionCoresTable.csdl|res://*/src.Models.Session.SessionCoresTable.ssdl|res://*/src.Models.Session.SessionCoresTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionMapEntity" connectionString="metadata=res://*/src.Models.Session.SessionMapTable.csdl|res://*/src.Models.Session.SessionMapTable.ssdl|res://*/src.Models.Session.SessionMapTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserEntity" connectionString="metadata=res://*/src.Models.User.UserTable.csdl|res://*/src.Models.User.UserTable.ssdl|res://*/src.Models.User.UserTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameBuildingTypeEntty" connectionString="metadata=res://*/src.Models.Game.GameBuildingTypeTable.csdl|res://*/src.Models.Game.GameBuildingTypeTable.ssdl|res://*/src.Models.Game.GameBuildingTypeTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameBuildingTypeEntity" connectionString="metadata=res://*/src.Models.Game.GameBuildingTypeTable.csdl|res://*/src.Models.Game.GameBuildingTypeTable.ssdl|res://*/src.Models.Game.GameBuildingTypeTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionCoresTableEntity" connectionString="metadata=res://*/src.Models.Session.SessionCoresTable.csdl|res://*/src.Models.Session.SessionCoresTable.ssdl|res://*/src.Models.Session.SessionCoresTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionCasernsEntity" connectionString="metadata=res://*/src.Models.Session.SessionCasernsTable.csdl|res://*/src.Models.Session.SessionCasernsTable.ssdl|res://*/src.Models.Session.SessionCasernsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionBasesEntity" connectionString="metadata=res://*/src.Models.Session.SessionBasesTable.csdl|res://*/src.Models.Session.SessionBasesTable.ssdl|res://*/src.Models.Session.SessionBasesTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionDefenceTowersEntity" connectionString="metadata=res://*/src.Models.Session.SessionDefenceTowersTable.csdl|res://*/src.Models.Session.SessionDefenceTowersTable.ssdl|res://*/src.Models.Session.SessionDefenceTowersTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionGoldMiningsEntity" connectionString="metadata=res://*/src.Models.Session.SessionGoldMiningsTable.csdl|res://*/src.Models.Session.SessionGoldMiningsTable.ssdl|res://*/src.Models.Session.SessionGoldMiningsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=EpicGameDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>